# Getting Started in Python with Jupyter Notebook
_Renaissance Experiential Learning Program_  
_Renaissance Learning, 2022_

## Jupyter Notebook
This is a Jupyter Notebook file (note the `.ipynb` extension). When opened in a Jupyter environment, it can be used to execute code, typically in a Python kernel.

### Cells
Jupyter notebooks generally consist of two kinds of cells: Markdown and Code.

#### Markdown

This is a markdown cell.
<br>
<br>
Markdown is a syntax that can be added to text to specify how that text should be formatted. The markdown is supported by many text editors and renderers, like Jupyter and GitHub.


#### Heading
1. Ordered list
2. Ordered list item 2
- Unordered lists
    1. nested lists
- **Bold**
- *italics*
> **Block quotes**
- `In-line code`


```
code block (for multi-line code)
x = 4
y = 6
z = x + y
```


- Link: [Markdown Cheat Sheet](https://www.markdownguide.org/cheat-sheet)
---

#### Code
Below is a code cell:

In [1]:
var = "python code goes here"

You can add line numbers to your code cell too, just type `l` in when the cell is selected in command mode.

In [2]:
var = 'cat'

Code cells have an indicator to their left showing the order in which they have been run.

## Coding

### The `print` statement
Let's start with the `print` statement:

In [3]:
print('Hello World')

Hello World

Depending on your passion for programming, there are at least a few things interesting about the code above:
1. In Python 3, the print statement works as a function. In this case, it took a string of text as its argument.
2. *Where* the text was printed: in a Jupyter Notebook, a print statement will show the output directly below the code cell (rather than in a separate console or log file or something).

### Variable assignment

Next let's explore a few more details of Python programming, starting with variable assignment.  
  
We start by defining a new variable, `x`.

In [4]:
x = 'Renaissance Learning'

Notice that, in Python, the variable is defined at the same time as its assignment. In other words, when we assign a value to an unknown object, the new variable is created with the value. We don't need to start by saying what type of variable it will be.  

If we pass `x` to the `print()` function, we should see its value in the output:

In [5]:
print(x)

Renaissance Learning

Here's a little thing to note. Jupyter tries to save us a little time when running little snippets of code. By default, Jupyter will display the last variable in a code cell, even if that variable isn't passed as an argument to the `print` function.

In [6]:
my_name = 'Jon'
my_name
x

'Renaissance Learning'

Notice above that the value for `x` is automatically sent to the output, but `my_name` is not.

In [7]:
my_name = 'Jon'
print(my_name)
print(x)

Jon
Renaissance Learning

### Loops

Ok, time for some real programming. Let's start with a `for` loop:

In [ ]:
x = 5
for i in range(0, 5):
    print(x + i)

---

Before running this code, try to predict what you will see in the output. Scroll down to see the answer....
```
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
```

In [8]:
x = 5
for i in range(5):
    print(x + i)

5
6
7
8
9

Let's make sense of this behavior...  
1. First, let's look at `range(0, 5)`. This code produces a set of integers `0, 1, 2, 3, 4`.
  
2. In this `for` loop, a new variable named `i` is instantiated with a value assigned, for each value in the range. Then the sum of `i` and `x` is calculated, and printed to the output. I'll say it again, to call it out more clearly:
<br>
<br>
***The print statement was passed an expression, not a variable, but the expression was evalulated before passing it's result to output.***  
<br>
<br>
One other neat thing to note: in Python, there's nothing special about the variable `i`. It's commonly used to represent an index or count, but this code works just as well with any other variable name:

In [9]:
gorilla = 90
for fish in range(0, 5):
    print(gorilla + fish)

90
91
92
93
94

### Variable names

While we're talking about variable names, let's learn about some conventions about naming in Python.

#### Variables and Functions

> Function [and variable] names should be all lowercase, with words separated by underscores as necessary to improve readability.

Examples: `my_name`, `count`, `iris_data`

#### Constants

> Constants are usually defined on a module level and written in all capital letters with underscores separating words.

Examples: `MAX_RANGE`, ` INITIAL_PAGE_WIDTH`
  

These [naming conventions](https://www.python.org/dev/peps/pep-0008/#prescriptive-naming-conventions) are quoted directly from the official [Python PEP-8 Style Guide](https://www.python.org/dev/peps/pep-0008/). There's a ton more information there, so if you care about writing code that looks good to others (and you definitely should!) go check it out. It's actually a fun read!

### Import Library

In [10]:
import os
from glob import glob

In [11]:
glob('../data/*.csv')

['../data/world-population-by-country-2020.csv',
 '../data/random_data_9.csv',
 '../data/random_data_8.csv',
 '../data/random_data_10.csv',
 '../data/random_data_6.csv',
 '../data/random_data_7.csv',
 '../data/random_data_5.csv',
 '../data/random_data_4.csv',
 '../data/random_data_1.csv',
 '../data/random_data_3.csv',
 '../data/random_data_2.csv',
 '../data/anscombes_quartet.csv']

In [12]:
glob('../data/random_data_*.csv')

['../data/random_data_9.csv',
 '../data/random_data_8.csv',
 '../data/random_data_10.csv',
 '../data/random_data_6.csv',
 '../data/random_data_7.csv',
 '../data/random_data_5.csv',
 '../data/random_data_4.csv',
 '../data/random_data_1.csv',
 '../data/random_data_3.csv',
 '../data/random_data_2.csv']

### Other Good to Know Concepts

- `while` loops
- iterators
- classes
    - methods

### Loading data

`pandas`

In [13]:
import pandas as pd

population_data = pd.read_csv('../data/world-population-by-country-2020.csv')

In [14]:
population_data.head()

,no,Country (or dependency),Population 2020,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39%,"5,540,090",153,"9,388,211","-348,399",1.7,38,61%,18.47%
1,2,India,"1,380,004,385",0.99%,"13,586,631",464,"2,973,190","-532,687",2.2,28,35%,17.70%
2,3,United States,"331,002,651",0.59%,"1,937,734",36,"9,147,420","954,806",1.8,38,83%,4.25%
3,4,Indonesia,"273,523,615",1.07%,"2,898,047",151,"1,811,570","-98,955",2.3,30,56%,3.51%
4,5,Pakistan,"220,892,340",2.00%,"4,327,022",287,"770,880","-233,379",3.6,23,35%,2.83%

In [15]:
population_data.shape

(235, 12)

In [16]:
population_data[['Country (or dependency)', 'Population 2020']] \
    .sort_values('Country (or dependency)')

    Country (or dependency) Population 2020
36              Afghanistan      38,928,346
139                 Albania       2,877,797
32                  Algeria      43,851,044
209          American Samoa          55,191
202                 Andorra          77,265
..                      ...             ...
225         Wallis & Futuna          11,239
169          Western Sahara         597,339
47                    Yemen      29,825,964
64                   Zambia      18,383,955
73                 Zimbabwe      14,862,924

[235 rows x 2 columns]

## Jupyter Specific Features
The following features are built in to Jupyter to help you as you code.

### Docstring View

In [ ]:
os.path....

### Multiple Cursors

In [ ]:
list_of_numbers = [
    1.9843,
    23.9843,
    2.9843,
    47.9843,
    6.9843
]

### Keyboard Shortcuts

- `esc` to enter command mode
- `enter` to go to edit mode
<br>
<br>
- Command mode
    - `m` - change cell to markdown
    - `y` - change cell to code
    - `a` - add cell above selected cell
    - `b` - add cell below selected cell

### And more
- Support for other programming languages
- Magics
- Extensions

In [ ]:
!cd /Users/jon.stelman/git/